.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition-property: opacity, visibility;
  transition-duration: 1s, 1s;
  z-index: 20;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  box-sizing: border-box;
  position: relative;
  min-width: 500px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 100px;
  margin: 25px;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 24px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  font-size: 20px;
}

.popup__close:hover {
  opacity: 0.6;
}

.form {
  width: 270px;
  position: relative;
}

.form__title {
  margin: 0 0 30px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  text-align: center;
}

.form__field {
  display: block;
  height: 58px;
  margin: 0 0 30px;
}

.form__field_type_description {
  min-height: 200px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  background: #6c757d;
  border-radius: 30px;
}

.form__input::placeholder {
  color: #000;
}

.form__input_type_status {
 appearance: none;
 background-image: url(../../../images/select-arrow.png);
 background-position: calc(100% - 15px) center;
 background-repeat: no-repeat;
 background-size: 15px;
}

.form__input_type_description {
  min-height: 100%;
}

.form__input_type_error {
  border-bottom: 1px solid #f00;
}

.form__input-error {
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  width: 100%;
  height: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight:400;
  font-size: 22px;
  line-height: 35px;
  color: #f00;
  transition: .2s;
  opacity: 1;
  position: relative;
}

.form__input-error_active {
  opacity: 1;
}

.form__submit {
  display: block;
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  height: 58px;
  background-color: rgba(171, 12, 0, 1);
  border-radius: 30px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto 45px;
  overflow: hidden;
}

.form__submit_disabled {
  background-color: #fff;
  border: 1px solid #ff0707;
  color: #6c757d;
}

.form__submit-text {
  position: relative;
  transform: translateX(-50%);
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition: all .15s ease-in-out;
}

.form__submit-text_hover:hover {
  transform: translateX(0%);
}

.form__submit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.form__submit-icon_type_hidden {
  font-size: 24px;
}

.form__checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0 0 0 0);
  left: 0;
  bottom: 0;
}

.form__checkbox:checked + .form__checkbox-item {
background-color: rgba(171, 12, 0, 1);
color: #fff;
}

.form__checkbox-item {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid #f70606;
  border-radius: 6px;
  background: #ddd;
  color: #ddd;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
}

.form__conditions {
  margin: 0 0 0 24px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  display: inline-block;
}

.form__conditions-link {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #2251aa;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.form__conditions-link:hover {
  color: #000;
}

@media (max-width: 935px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 768px) {
  .popup__container {
    min-width: calc(100% - 50px);
    padding: 100px 20px 20px;
  }

  .form {
    width: 100%;
  }
}
