.faq {
  padding: 100px 0 0;
}

.faq__title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #000;
  text-align: center;
  margin: 0 0 8px;
}

.faq__subtitle {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #888;
  text-align: center;
  margin: 0 0 68px;
}

.faq__content {
  padding: 60px 0 60px;
  background: url(../../../../images/rectangle55.png) center/cover no-repeat;
}

.faq__content-items {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.faq__questions-wrapper {
  max-width: 540px;
}

.faq__questions {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
}

.faq__feedback-button {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: #fff;
  background-color: #AB0C00;
  min-width: 165px;
  margin: 0;
  padding: 10px 0;
  border-radius: 100px;
  border: 1px solid transparent;
  transition: all .15s ease-in-out;
}

.faq__feedback-button:hover {
  background-color: #EC1000;
}

@media (max-width: 1200px) {
  .faq__content-items {
    max-width: 960px;
  }

  .faq__questions-wrapper {
    max-width: 450px;
  }
}

@media (max-width: 992px) {
  .faq__content-items {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .faq__content {
    background: #8B8B8B;
  }

  .faq__content-items {
    max-width: 540px;
  }

  .faq__questions-wrapper {
    max-width: 510px;
    padding: 0 15px;
  }
}
